# Changelog for the Hive-JSON-SerDe
_Generated automatically by maven_

{{#tags}}
## {{name}}
   {{#commits}}
 *  *{{commitTime}}*  {{{message}}} _({{authorName}})_ [{{hash}}](https://github.com/rcongiu/Hive-JSON-Serde/commit/{{hash}})
   {{/commits}}
{{/tags}}
